@page "/Dashboard/Designs"
@model JPOS.Controller.Pages.Dashboard.Designs.IndexModel

@{
    ViewData["Title"] = "Designs";
}

<h1>Design Management</h1>

<hr />

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Designs[0].DesignId)</th>
            <th>@Html.DisplayNameFor(model => model.Designs[0].CreateBy)</th>
            <th>@Html.DisplayNameFor(model => model.Designs[0].Picture)</th>
            <th>@Html.DisplayNameFor(model => model.Designs[0].Description)</th>
            <th>@Html.DisplayNameFor(model => model.Designs[0].CreateDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Designs)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DesignId)</td>
                <td>@Html.DisplayFor(modelItem => item.CreateBy)</td>
                <td>
                    <img src="@item.Picture" alt="Design Image" width="100" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.DesignId" class="btn btn-sm btn-warning">Edit</a>
                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete(@item.DesignId)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this design?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" asp-page-handler="Delete">
                    <input type="hidden" name="id" id="deleteDesignId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDelete(id) {
            document.getElementById('deleteDesignId').value = id;
            $('#deleteModal').modal('show');
        }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
}
