@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/d8c09fa8ce.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRkEAbMRIBsMiE7nQoTQ6T4E5i4FO/cs8lEFJPTFd" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky d-flex flex-column" style="height: 100vh;">
                    <div>
                        <div class="sidebar-header">
                            <a>DASHBOARD</a>
                        </div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Orders/Index" ? "active" : "")" href="/Dashboard/Orders">
                                    <i class="fa-solid fa-cart-shopping"></i> Orders
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Categories/Index" ? "active" : "")" href="/Dashboard/Categories">
                                    <i class="fa-solid fa-list"></i> Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Products/Index" ? "active" : "")" href="/Dashboard/Products">
                                    <i class="fa-solid fa-bag-shopping"></i> Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Users/Index" ? "active" : "")" href="/Dashboard/Users">
                                    <i class="fa-regular fa-user"></i> Users
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Statistics/Index" ? "active" : "")" href="/Dashboard/Statistics">
                                    <i class="fa-solid fa-square-poll-vertical"></i> Statistics
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Designs/Index" ? "active" : "")" href="/Dashboard/Designs">
                                    <i class="fa-solid fa-pen-nib"></i> Design
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Materials/Index" ? "active" : "")" href="/Dashboard/Materials">
                                    <i class="fa-solid fa-database"></i> Materials
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/BlogPage/Index" ? "active" : "")" href="/Dashboard/BlogPage">
                                    <i class="fa-brands fa-blogger-b"></i> Blogs
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-auto">
                        <a class="nav-link" href="/Logout">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
                        </a>
                    </div>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
 *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d8c09fa8ce.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRkEAbMRIBsMiE7nQoTQ6T4E5i4FO/cs8lEFJPTFd" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky d-flex flex-column" style="height: 100vh;">
                    <div>
                        <div class="sidebar-header">
                            <a class="text-dark">DASHBOARD</a>
                        </div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Orders/Index" ? "active" : "")" href="/Dashboard/Orders">
                                    <i class="fa-solid fa-cart-shopping"></i> Orders
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Categories/Index" ? "active" : "")" href="/Dashboard/Categories">
                                    <i class="fa-solid fa-list"></i> Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Products/Index" ? "active" : "")" href="/Dashboard/Products">
                                    <i class="fa-solid fa-bag-shopping"></i> Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Users/Index" ? "active" : "")" href="/Dashboard/Users">
                                    <i class="fa-regular fa-user"></i> Users
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Statistics/Index" ? "active" : "")" href="/Dashboard/Statistics">
                                    <i class="fa-solid fa-square-poll-vertical"></i> Statistics
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Designs/Index" ? "active" : "")" href="/Dashboard/Designs">
                                    <i class="fa-solid fa-pen-nib"></i> Design
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.ActionDescriptor.DisplayName == "/Dashboard/Materials/Index" ? "active" : "")" href="/Dashboard/Materials">
                                    <i class="fa-solid fa-database"></i> Materials
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-auto">
                        <a class="nav-link" href="/Account/Logout">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
                        </a>
                    </div>
                </div>
            </nav>

            <!-- Main Content -->
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap JS (Optional) - Include if needed for Bootstrap components -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+px2sLwuAjQb+VlHjWYLQx4JFq+8LEO3I+4" crossorigin="anonymous"></script> -->
    <!-- Optional: Include additional scripts as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+px2sLwuAjQb+VlHjWYLQx4JFq+8LEO3I+4" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

