@page "{idProduct:int}"
@model JPOS.Controller.Pages.HomePages.ProductDetailModel
@{
}
<div class="container">
    <div class="row">
        <!-- Picture Column -->
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/dkyv1vp1c/image/upload/v1719498274/qhc3ccgjiove18ldf5fz.jpg" class="img-fluid" style="height: 300px; object-fit: cover;" alt="@Model.Product.ProductName" />
        </div>

        <!-- Information Column -->
      
        <div class="col-md-8">
            <form method="post">
            <div class="card">
                <div class="card-body">
                    <h4>@Model.Product.ProductName</h4>
                    <p class="card-text">@Model.Product.Description</p>
                    <p class="card-text">Price: @TempData["TotalMoney"] $</p>
                    @* <p class="card-text"> Category : @Model.category.CatName </p> *@

                    <div class="mb-3">
                    <p class="card-text">Custom it with your size click </p>
                    <div>
                        <a class="btn btn-primary" href="/HomePages/ProductCustomDetail/@Model.Product.ProductId">Custom</a>
                    </div>
                        <button class="btn btn-primary" type="submit" style="background-color: #FF6B6B; color: #FFFFFF;">Buy Now</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<h1>Another Product</h1>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/HomePages/ProductDetail/@Model.ListProduct[0].ProductId">
            <img src="https://res.cloudinary.com/dkyv1vp1c/image/upload/v1720678043/o2_g4jgtc.jpg" class="d-block w-100 " alt="...">
            </a>
        </div>
        @for (int i = 0; i < 5; i += 1)
        {
            <div class="carousel-item">
                <a href="/HomePages/ProductDetail/@Model.ListProduct[i].ProductId">
                <img src="https://res.cloudinary.com/dkyv1vp1c/image/upload/v1719498274/qhc3ccgjiove18ldf5fz.jpg" class="d-block w-100 " alt="...">
           </a>
            
            </div>
        }

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<style>
    .carousel-item img {
        width: 500px; /* Set the desired width */
        height: 200px; /* Set the desired height */
        object-fit: contain; /* Maintain aspect ratio and fill the container */
    }
</style>