@page
@model JPOS.Controller.Pages.Dashboard.BlogPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Blog</h1>

<div class="input-group input-group-prefix input-group-lg">
    <form method="post">
        <input type="text" name="SearchTerm" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="@Model.SearchTerm">
        <button class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #4CAF50; color: white;" type="submit">Search</button>
    </form>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].BlogId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].CreateBy)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
}
