@page "/Dashboard/Products/Delete"
@model JPOS.Controller.Pages.Dashboard.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreateBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreateBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.PriceMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.PriceMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.PriceDesign)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.PriceDesign)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProcessPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProcessPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
@*        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CatId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Design)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Design.DesignId)
        </dd>*@
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
