@page
@model JPOS.Controller.Pages.DesignPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Design[0].CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Design[0].Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Design[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Design[0].CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Design) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DesignId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DesignId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DesignId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>